{include file="common/css" /}
{include file="common/top" /}
{include file="common/left" /}






        <!-- Page content -->
        <div id="content" class="col-md-12">
            <!-- page header -->
            <div class="pageheader">
                <h2><i class="fa fa-tachometer"></i> Dashboard</h2>
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li>You are here</li>
                        <li><a href="#">Lp--Firm</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- /page header -->


            <!-- content main container -->
            <div class="main">
                <!-- 头部的卡片 -->
                <div class="row cards">
                    <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                        <div class="card card-redbrown hover">
                            <div class="front">
                                <div class="media">
                                  <span class="pull-left">
                                    <i class="fa fa-users media-object"></i>
                                  </span>
                                  <div class="media-body">
                                    <small>客户</small>
                                    <h2 class="media-heading animate-number" data-value="{$customer_count}" data-animation-duration="1500">0</h2>
                                  </div>
                                </div>
                            </div>
                            <div class="back">
                                <a href="{:url('customer/personal_customer')}">
                                    <i class="fa fa-bar-chart-o fa-4x"></i>
                                    <span>Check Summary</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {if condition="$Request.session.duty neq '前台'"}
                    <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                        <div class="card card-blue hover">
                            <div class="front">

                                <div class="media">
                                  <span class="pull-left">
                                    <i class="fa fa-users media-object"></i>
                                  </span>

                                    <div class="media-body">
                                        <small>业务</small>
                                        <h2 class="media-heading animate-number" data-value="{$business_count}" data-animation-duration="1500">0</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="back">
                                <a href="{:url('business/personal_business')}">
                                    <i class="fa fa-bar-chart-o fa-4x"></i>
                                    <span>Check Summary</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {else/}
                    <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                        <div class="card card-blue hover">
                            <div class="front">

                                <div class="media">
                                  <span class="pull-left">
                                    <i class="fa fa-users media-object"></i>
                                  </span>

                                    <div class="media-body">
                                        <small>业务</small>
                                        <h2 class="media-heading animate-number" data-value="{$business_count}" data-animation-duration="1500">0</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="back">
                                <a href="{:url('business/index')}">
                                    <i class="fa fa-bar-chart-o fa-4x"></i>
                                    <span>Check Summary</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {/if}
                    <div class="card-container col-lg-4 col-sm-6 col-sm-12">
                        <div class="card card-greensea hover">
                            <div class="front">

                                <div class="media">
                                  <span class="pull-left">
                                    <i class="fa fa-users media-object"></i>
                                  </span>

                                    <div class="media-body">
                                        <small>高中申请</small>
                                        <h2 class="media-heading animate-number" data-value="{$performance_count}" data-animation-duration="1500">0</h2>
                                    </div>
                                </div>

                            </div>
                            <div class="back">
                                <a href="{:url('performance/personal_performance')}">
                                    <i class="fa fa-bar-chart-o fa-4x"></i>
                                    <span>Check Summary</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /cards -->


                <!-- Static, Project, todo, recentActivity -->
                <div class="row">
                    <!-- static and project -->
                    <div class="col-lg-8 col-md-12">
                        <!-- static chart -->
                        <section class="tile transparent">
                            <!-- tile header -->
                            <div class="tile-header color transparent-black textured rounded-top-corners">
                                <h1><strong>个人业务及金额</strong>/月</h1>
                                <div class="controls">
                                    <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <!-- /tile header -->

                            <!-- tile widget -->
                            <div class="tile-widget color transparent-black textured">
                                <div id="statistics-chart" class="chart statistics" style="height: 250px;"></div>
                            </div>
                            <!-- /tile widget -->

                            <!-- tile body -->
                            <div class="tile-body color transparent-white rounded-bottom-corners">
                                <div class="row">
                                    <ul class="inline">

                                        <li class="col-md-12 col-sm-12 col-xs-12 text-center">

                                            <h4 class="underline text-left"><strong>业务与客户总计</strong></h4>

                                            <div class="inner-container inline">
                                                <div data-percent="100" data-size="140" class="pie-chart inline" data-scale-color="false" data-track-color="rgba(0,0,0,0)" data-bar-color="#ffffff" data-line-width="5">
                                                    <div class="text-center">
                                                        <i class="fa fa-usd fa-5x"></i>
                                                    </div>
                                                </div>
                                                <p class="chart-overall text-center medium-thin uppercase"><span class="big-medium animate-number" data-value="{$total_business}" data-animation-duration="2500">0</span> Business</p>
                                            </div>

                                            <div class="inner-container inline">
                                                <div data-percent="85" data-size="140" class="pie-chart inline" data-scale-color="false" data-track-color="rgba(0,0,0,0)" data-bar-color="rgba(0,0,0,.4)" data-line-width="5">
                                                    <div class="text-center">
                                                        <span><i class="fa fa-eye fa-5x color-transparent-black"></i></span>
                                                    </div>
                                                </div>
                                                <p class="chart-overall text-center medium-thin uppercase color-transparent-black"><span class="big-medium animate-number" data-value="{$total_customer}" data-animation-duration="2500">0</span> Customers</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /tile body -->

                        </section>
                        <!-- /tile -->

                        <!-- project progress -->
                        <section class="tile color transparent-black">
                            <!-- tile header -->
                            <div class="tile-header">
                                <h1><strong>周业务统计</strong></h1>
                                <div class="search">
                                    <input type="text" placeholder="Search...">
                                </div>
                                <div class="controls">
                                    <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <!-- /tile header -->

                            <!-- tile body -->
                            <div class="tile-body no-vpadding">
                                <div class="table-responsive">
                                    <table class="table table-custom table-sortable nomargin">
                                        <thead>
                                        <tr>
                                            <th class="sortable sort-alpha text-center">客户</th>
                                            <th class="sortable sort-alpha text-center">业务</th>
                                            <th class="sortable sort-alpha text-center">文案</th>
                                            <th class="sortable text-center">Priority</th>
                                            <th class="sortable sort-amount text-center">进度</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="recentActivity" id="v"}
                                        <tr class="text-center">
                                            <td>{$v.customer_name}</td>
                                            <td>{$v.subservice_name}</td>

                                            {if condition="$v.wenan neq null"}
                                            <td>{$v.wenan}</td>
                                            {else/}
                                            <td>文案未分配</td>
                                            {/if}

                                            {if condition="$v.progress eq '收集材料'"}
                                            <td class="color-red priority">High priority  {$v.progress}</td>
                                            {elseif condition="$v.progress eq '申请递交'"/}
                                            <td class="color-cyan priority">Medium priority {$v.progress}</td>
                                            {else/}
                                            <td class="color-green priority">{$v.progress}</td>
                                            {/if}

                                            {if condition="$v.progress eq '收集材料'"}
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent"><span class="animate-number" data-value="30" data-animation-duration="1500">0</span>%</div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="30%"></div>
                                                </div>
                                            </td>
                                            {elseif condition="$v.progress eq '申请递交'"}
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent"><span class="animate-number" data-value="60" data-animation-duration="1500">0</span>%</div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="60%"></div>
                                                </div>
                                            </td>
                                            {elseif condition="$v.progress eq '无记录'"/}
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent"><span class="animate-number" data-value="0" data-animation-duration="1500">0</span>%</div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="0%"></div>
                                                </div>
                                            </td>
                                            {else/}
                                            <td class="progress-cell">
                                                <div class="progress-info">
                                                    <div class="percent"><span class="animate-number" data-value="100" data-animation-duration="1500">0</span>%</div>
                                                </div>
                                                <div class="progress progress-little">
                                                    <div class="progress-bar progress-bar-transparent-white animate-progress-bar" data-percentage="100%"></div>
                                                </div>
                                            </td>
                                            {/if}

                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /tile body -->
                        </section>
                        <!-- /tile -->
                    </div>
                    <!-- /col 8 -->

                    <!-- todo -->
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <!-- tile -->
                        <section class="tile transparent">
                            <!-- tile header -->
                            <div class="tile-header color redbrown rounded-top-corners text-center">
                                <button class="btn pull-left btn-black-transparent" type="button"><i class="fa fa-caret-square-o-down"></i></button>
                                <h2><strong>Todo</strong> List</h2>( Total:{$todo_count} &nbsp;&nbsp;已完成:{$todo_done_count})
                                <div class="controls">
                                    <a href="{:url('index/index')}"><i class="fa fa-refresh"></i></a>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <!-- /tile header -->

                            <!-- tile body -->
                            <div class="tile-body color transparent-black rounded-bottom-corners">
                                <input type="text" placeholder="Add new todo..." class="w100p bottommargin" id="todo_input"><span id='todo_submit' class="btn btn-success">点击提交</span><br><br>
                                <input type="text" placeholder="员工名字" class="hidden" id="session_name" value="{$Request.session.name}">
                                <ul class="nolisttypes" id="todolist">
                                    {volist name="todo_res" id='v'}
                                    <li>
                                        <label><span class="label-success label">内容:</span> {$v.record}</label>
                                        <br>
                                        <label><span class="label-success label">时间:</span> {$v.create_time|date="Y-m-d",###}</label>
                                        <br>
                                        <label><span class="label-success label">功能:</span>
                                            <a href="{:url('index/todoFinish',array('id'=>$v.id))}" class="label-cyan label"><span >完成</span></a>
                                            <a href="{:url('index/todoDel',array('id'=>$v.id))}" class="label-danger label"><span >删除</span></a>
                                        </label>
                                        <div style="width:450px;height:0;border-top:1px black dashed;" ></div>
                                        <br>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                            <!-- /tile body -->



                        </section>
                        <!-- /tile -->


                    </div>
                    <!-- /col 4 -->

                    <!-- recent activity -->
                    <div class="row">
                        <!-- col 6 -->
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <!-- tile -->
                            <section class="tile transparent recent-activity">
                                <!-- tile header -->
                                <div class="tile-header transparent">
                                    <h1><strong>Recent</strong> Activity</h1>
                                    <div class="controls">
                                        <a href="{:url('index/index')}" class="refresh"><i class="fa fa-refresh"></i></a>
                                        <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                                <!-- /tile header -->

                                <!-- tile widget -->
                                <div class="tile-widget color transparent-black rounded-top-corners nopadding">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs tabdrop">
                                        <li class="active"><a href="#business" data-toggle="tab">业务</a></li>
                                        <li><a href="#performance" data-toggle="tab">高中申请</a></li>
                                    </ul>
                                    <!-- / Nav tabs -->
                                </div>
                                <!-- /tile widget -->

                                <!-- tile body -->
                                <div class="tile-body tab-content nopadding rounded-bottom-corners">
                                    <!-- Tab panes -->

                                    <ul id="business" class="tab-pane fade in active">
                                        {volist name="recentActivity" id="v"}
                                        <li>
                                            <span class="user font-slab"><strong>{$v.customer_name}</strong></span>
                                            <span class="subject"><span class="label-cyan label">近期业务:</span><strong>{$v.subservice_name}</strong></span>&nbsp;&nbsp;
                                            <span class="subject"><span class="label-cyan label">业务进度:</span><strong>{$v.progress}</strong></span>&nbsp;&nbsp;
                                            <span class="subject"><span class="label-cyan label">销售姓名:</span><strong>{$v.user}</strong></span>&nbsp;
                                        </li>
                                        <div style="width:500px;height:0;border-top:1px black dashed;" ></div>
                                        {/volist}
                                    </ul>

                                    <ul id="performance" class="tab-pane fade">
                                        {volist name='recentPerformance' id='v'}
                                        <li>
                                            {if condition="$v.user eq 0"}
                                            <span class="user font-slab"><strong>无记录</strong></span>
                                            {else/}
                                            <span class="user font-slab"><strong>{$v.customer_name}</strong></span>
                                            {/if}
                                            <span class="subject"><span class="label-cyan label">学校:</span><strong>{$v.school_name}</strong></span>&nbsp;&nbsp;
                                            <span class="subject"><span class="label-cyan label">销售:</span><strong>{$v.user}</strong></span>&nbsp;&nbsp;
                                            <span class="subject"><span class="label-cyan label">学费:</span><strong>{$v.total}</strong></span>&nbsp;&nbsp;
                                            {if condition="$v.credit neq null"}
                                            <span class="subject"><span class="label-cyan label">课时:</span><strong>{$v.credit}</strong></span>
                                            {else/}
                                            <span class="subject"><span class="label-cyan label">课时:</span><strong>未设置</strong></span>
                                            {/if}
                                        </li>
                                        <div style="width:500px;height:0;border-top:1px black dashed;" ></div>
                                        {/volist}
                                    </ul>


                                    <!-- / Tab panes -->
                                </div>
                                <!-- /tile body -->
                            </section>
                            <!-- /tile -->
                        </div>
                        <!-- /col 6 -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /row -->




            </div>
            <!-- /content container -->
        </div>
        <!-- Page content end -->
    </div>
    <!-- Make page fluid-->
</div>
<!-- Wrap all page content end -->
{include file="common/js" /}

<script>
    $(function(){

        // Initialize card flip
        $('.card.hover').hover(function(){
            $(this).addClass('flip');
        },function(){
            $(this).removeClass('flip');
        });

        // Initialize flot chart

        var d1 =[
            [1, {$res.1}],
            [2, {$res.2}],
            [3, {$res.3}],
            [4, {$res.4}],
            [5, {$res.5}],
            [6, {$res.6}],
            [7, {$res.7}],
            [8, {$res.8}],
            [9, {$res.9}],
            [10, {$res.10}],
            [11, {$res.11}],
            [12, {$res.12}]
        ];
        var d2 =[
            [1, {$total_money_per_month.1}],
            [2, {$total_money_per_month.2}],
            [3, {$total_money_per_month.3}],
            [4, {$total_money_per_month.4}],
            [5, {$total_money_per_month.5}],
            [6, {$total_money_per_month.6}],
            [7, {$total_money_per_month.7}],
            [8, {$total_money_per_month.8}],
            [9, {$total_money_per_month.9}],
            [10, {$total_money_per_month.10}],
            [11, {$total_money_per_month.11}],
            [12, {$total_money_per_month.12}]
        ];


        var months = ["January", "February", "March", "April", "May", "Juny", "July", "August", "September", "October", "November", "December"];

        // flot chart generate
        var plot = $.plotAnimator($("#statistics-chart"),
            [
                //线
                {
                    label: '业务量',
                    data: d1,
                    lines: {lineWidth:3},
                    shadowSize:0,
                    color: '#ff0008'
                },
                { label: "业务金额",
                    data: d2,
                    animator: {steps: 99, duration: 500, start:200, direction: "right"},
                    lines: {
                        fill: .15,
                        lineWidth: 3
                    },
                    color:['#3bc0ff']
                },

                //点
                {
                label: '单业务',
                data: d1,
                points: { show: true, fill: true, radius:6,fillColor:"rgba(0,0,0,.5)",lineWidth:2 },
                color: '#ff0008',
                shadowSize:0
                },

                {
                label: "CAD",
                data: d2,
                points: { show: true, fill: true, radius:6,fillColor:"rgba(255,255,255,.2)",lineWidth:2 },
                color: '#3bc0ff',
                shadowSize:0
                }
            ],

            //x,y轴描述
            {
                //x
                xaxis: {
                    tickLength: 0,
                    tickDecimals: 0,
                    min:1,
                    ticks: [[1,"JAN"], [2, "FEB"], [3, "MAR"], [4, "APR"], [5, "MAY"], [6, "JUN"], [7, "JUL"], [8, "AUG"], [9, "SEP"], [10, "OCT"], [11, "NOV"], [12, "DEC"]],
                    font :{
                        lineHeight: 24,
                        weight: "300",
                        color: "#ffffff",
                        size: 14
                    }
                },
                //y
                yaxis: {
                    ticks: 4,
                    tickDecimals: 0,
                    tickColor: "rgba(255,255,255,.3)",
                    font :{
                        lineHeight: 13,
                        weight: "300",
                        color: "#ffffff"
                    },
                },

                grid: {
                    borderWidth: {
                        top: 0,
                        right: 0,
                        bottom: 1,
                        left: 1
                    },
                    borderColor: 'rgba(255,255,255,.3)',
                    margin:0,
                    minBorderMargin:0,
                    labelMargin:20,
                    hoverable: true,
                    clickable: true,
                    mouseActiveRadius:6
                },

                legend: { show: false}
            });

        $(window).resize(function() {
            // redraw the graph in the correctly sized div
            plot.resize();
            plot.setupGrid();
            plot.draw();
        });


        // tooltips showing
        $("#statistics-chart").bind("plothover", function (event, pos, item) {
            if (item) {
                var x = item.datapoint[0],
                    y = item.datapoint[1];

                $("#tooltip").html('<h1 style="color: #418bca">' + months[x - 1] + '</h1>' + '<strong>' + y + '</strong>' + ' ' + item.series.label)
                    .css({top: item.pageY-30, left: item.pageX+5})
                    .fadeIn(200);
            } else {
                $("#tooltip").hide();
            }
        });


        //tooltips options
        $("<div id='tooltip'></div>").css({
            position: "absolute",
            //display: "none",
            padding: "10px 20px",
            "background-color": "#ffffff",
            "z-index":"99999"
        }).appendTo("body");

        //generate actual pie charts
        $('.pie-chart').easyPieChart();


        //server load rickshaw chart
        var graph;

        var seriesData = [ [], []];
        var random = new Rickshaw.Fixtures.RandomData(50);

        for (var i = 0; i < 50; i++) {
            random.addData(seriesData);
        }

        graph = new Rickshaw.Graph( {
            element: document.querySelector("#serverload-chart"),
            height: 150,
            renderer: 'area',
            series: [
                {
                    data: seriesData[0],
                    color: '#6e6e6e',
                    name:'File Server'
                },{
                    data: seriesData[1],
                    color: '#fff',
                    name:'Mail Server'
                }
            ]
        } );

        var hoverDetail = new Rickshaw.Graph.HoverDetail( {
            graph: graph,
        });

        setInterval( function() {
            random.removeData(seriesData);
            random.addData(seriesData);
            graph.update();

        },1000);

        // Morris donut chart
        Morris.Donut({
            element: 'browser-usage',
            data: [
                {label: "Chrome", value: 25},
                {label: "Safari", value: 20},
                {label: "Firefox", value: 15},
                {label: "Opera", value: 5},
                {label: "Internet Explorer", value: 10},
                {label: "Other", value: 25}
            ],
            colors: ['#00a3d8', '#2fbbe8', '#72cae7', '#d9544f', '#ffc100', '#1693A5']
        });

        $('#browser-usage').find("path[stroke='#ffffff']").attr('stroke', 'rgba(0,0,0,0)');

        //sparkline charts
        $('#projectbar1').sparkline('html', {type: 'bar', barColor: '#22beef', barWidth: 4, height: 20});
        $('#projectbar2').sparkline('html', {type: 'bar', barColor: '#cd97eb', barWidth: 4, height: 20});
        $('#projectbar3').sparkline('html', {type: 'bar', barColor: '#a2d200', barWidth: 4, height: 20});
        $('#projectbar4').sparkline('html', {type: 'bar', barColor: '#ffc100', barWidth: 4, height: 20});
        $('#projectbar5').sparkline('html', {type: 'bar', barColor: '#ff4a43', barWidth: 4, height: 20});
        $('#projectbar6').sparkline('html', {type: 'bar', barColor: '#a2d200', barWidth: 4, height: 20});

        // sortable table
        $('.table.table-sortable th.sortable').click(function() {
            var o = $(this).hasClass('sort-asc') ? 'sort-desc' : 'sort-asc';
            $('th.sortable').removeClass('sort-asc').removeClass('sort-desc');
            $(this).addClass(o);
        });

        //todo's
        $('#todolist li label').click(function() {
            $(this).toggleClass('done');
        });

        // Initialize tabDrop
        $('.tabdrop').tabdrop({text: '<i class="fa fa-th-list"></i>'});

        //load wysiwyg editor
        $('#quick-message-content').summernote({
            toolbar: [
                //['style', ['style']], // no style button
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                //['insert', ['picture', 'link']], // no insert buttons
                //['table', ['table']], // no table button
                //['help', ['help']] //no help button
            ],
            height: 143   //set editable area's height
        });

        //multiselect input
        $(".chosen-select").chosen({disable_search_threshold: 10});

    })


    //todo扩展
    $session_name = $('#session_name').val();
    $('#todo_submit').click(function(){
        $input_val = $('#todo_input').val();
        if($input_val != ''){
            $.ajax({
                type:"post",
                url:"{:url('index/recordTodo')}",
                //参数
                data:'session_name='+$session_name+'&input_val='+$input_val,
                dataType:"json",
                success:function(data){
                    if(data == 1){
                        $('#todo_input').val("");
                        location.reload(true);
                    }
                }
            });
        }
    });
</script>
</body>
</html>

