
    <div class="tile-body color transparent-black rounded-corners">
        <div class="table-responsive">
            <table  class="table table-datatable table-custom" id="basicDataTable">
                <thead>
                <tr>

                    <th class="text-center">现任</th>
                    <th class="text-center">婚姻状态</th>
                    <th class="text-center">现任身份状态（公民/移民）</th>
                    <th class="text-center">结婚日期</th>
                    <th class="text-center">前任姓名</th>
                    <th class="text-center">前任生日</th>
                    <th class="text-center">与前任婚姻周期</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {foreach name="marriage_res" id="v"}
                <tr>
                    <td class="text-center">{$v.spouse_name}</td>
                    <td class="text-center">{$v.marriage_status}</td>
                    <td class="text-center">{$v.is_citizen}</td>
                    <td class="text-center">{$v.marry_date}</td>
                    <td class="text-center">{$v.pre_spouse_name}</td>
                    <td class="text-center">{$v.pre_birthday}</td>
                    <td class="text-center">{$v.marriage_period}</td>
                    <td class="text-center"><a class="btn btn-danger" href="{:url('customer/experience_del',array('id'=>$v['id'],'category_id'=>2))}">删除</a></td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
    <!-- /tile body -->



