{include file="common/css" /}
{include file="common/top" /}
{include file="common/left" /}






<!-- Page content -->
<div id="content" class="col-md-12">
    <!-- page header -->
    <div class="pageheader">
        <h2><i class="fa fa-thumb-tack" style="line-height: 48px;padding-left: 1px;"></i> 缴费信息</h2>
    </div>
    <!-- /page header -->


    <!-- content main container -->
    <div class="main">
        <!-- row -->
        <div class="row">
            <!-- col 12 -->
            <div class="col-md-12">
                <!-- tile -->
                <section class="tile color transparent-white">
                    <!-- tile header -->
                    <div class="tile-header">
                        <h1><strong>添加</strong></h1>
                    </div>
                    <!-- /tile header -->

                    <!-- tile body -->
                    <form method="post" action="{:url('pay/add')}">
                        <div class="tile-body">
                            <div class="form-horizontal">

                                <!--业务-->
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">当前业务</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  name="subservice_name" value="{$res.subservice_name}" readonly/>
                                            <input type="text" class="form-control hidden"  id='business_id' name="business_id" value="{$res.id}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">费用总计</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" value="{$res.fee_total}" readonly/>
                                        </div>
                                    </div>
                                    {if condition="$res.balance neq 0 "}
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">客户缴费总额</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" value="{$res.customer_pay}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">
                                            费用亏欠
                                            {if condition="$res.fee_total_remain neq 0"}
                                            <i class="fa fa-times-circle" style="color: red"></i>
                                            {else/}
                                            <i class="fa fa-check-circle" style="color: green"></i>
                                            {/if}
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id='fee_total_remain' value="{$res.fee_total_remain}" readonly/>
                                        </div>
                                    </div>
                                    {/if}
                                </div>




                                <!--服务费-->
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">业务应缴服务费</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" value="{$res.service_fee}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">已缴费金额</label>
                                        <div class="col-sm-8">
                                            {empty name="$res.service_amount"}
                                            <input type="text" class="form-control"  readonly/>
                                            {else/}
                                            <input type="text" class="form-control" value="{$res.service_amount}" readonly/>
                                            {/empty}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">
                                            业务服务费拖欠
                                            {if condition="$res.service_fee_remain neq 0"}
                                            <i class="fa fa-times-circle" style="color: red"></i>
                                            {else/}
                                            <i class="fa fa-check-circle" style="color: green"></i>
                                            {/if}
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" value="{$res.service_fee_remain}" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <!--邮寄费-->
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">业务应缴邮寄费</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" value="{$res.post_fee}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">已缴费金额</label>
                                        <div class="col-sm-8">
                                            {empty name="$res.service_amount"}
                                            <input type="text" class="form-control"  readonly/>
                                            {else/}
                                            <input type="text" class="form-control" value="{$res.post_amount}" readonly/>
                                            {/empty}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">
                                            业务邮寄费拖欠
                                            {if condition="$res.post_fee_remain neq 0"}
                                            <i class="fa fa-times-circle" style="color: red"></i>
                                            {else/}
                                            <i class="fa fa-check-circle" style="color: green"></i>
                                            {/if}
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" value="{$res.post_fee_remain}" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <!--政府费-->
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">业务应缴政府费</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" value="{$res.goverment_fee}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">已缴费金额</label>
                                        <div class="col-sm-8">
                                            {empty name="$res.service_amount"}
                                            <input type="text" class="form-control" readonly/>
                                            {else/}
                                            <input type="text" class="form-control" value="{$res.goverment_amount}" readonly/>
                                            {/empty}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">
                                            业务政府费拖欠
                                            {if condition="$res.goverment_fee_remain neq 0"}
                                            <i class="fa fa-times-circle" style="color: red"></i>
                                            {else/}
                                            <i class="fa fa-check-circle" style="color: green"></i>
                                            {/if}
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" value="{$res.goverment_fee_remain}" readonly/>
                                        </div>
                                    </div>
                                </div>

                                <br><br><br>


                                <!--服务费输入-->
                                {if condition="$res.service_fee_remain neq 0"}
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">剩余服务费</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  name="service_fee" value="{$res.service_fee_remain}" id="service_fee" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">本次服务费缴费金额</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control"  name="service_fee_amount" id="service_fee_amount" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">服务费缴费日期</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  data-mask='9999-99-99' placeholder='9999-99-99' name="service_fee_date"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">服务费缴费方式</label>
                                        <div class="col-sm-8">
                                            <select class="chosen-select chosen-transparent form-control" name="service_fee_way">
                                                <option value="">--请选择服务费缴费方式--</option>
                                                <option value="0">现金</option>
                                                <option value="1">支票</option>
                                                <option value="2">刷卡</option>
                                                <option value="3">转账</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {else/}
                                <div class="row hidden">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">剩余服务费</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  name="service_fee" value="{$res.service_fee_remain}" id="service_fee" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row hidden">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">本次服务费缴费金额</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control"  name="service_fee_amount" id="service_fee_amount" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 hidden">
                                        <label class="col-sm-4 control-label">服务费缴费日期</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  data-mask='9999-99-99' placeholder='9999-99-99' name="service_fee_date"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 hidden">
                                        <label class="col-sm-4 control-label">服务费缴费方式</label>
                                        <div class="col-sm-8">
                                            <select class="chosen-select chosen-transparent form-control" name="service_fee_way">
                                                <option value="">--请选择服务费缴费方式--</option>
                                                <option value="0">现金</option>
                                                <option value="1">支票</option>
                                                <option value="2">刷卡</option>
                                                <option value="3">转账</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {/if}

                                <!--政府费输入-->
                                {if condition="$res.goverment_fee_remain neq 0"}
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">剩余政府费</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  name="goverment_fee" value="{$res.goverment_fee_remain}" id="goverment_fee" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">本次政府费缴费金额</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control"  name="goverment_fee_amount" id="goverment_fee_amount" />
                                            <i class="fa fa-exclamation-circle" style="color: red">如果缴费方式选择自行处理，此处请填写：{$res.goverment_fee}</i>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">政府费缴费日期</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  data-mask='9999-99-99' placeholder='9999-99-99' name="goverment_fee_date" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">政府费缴费方式</label>
                                        <div class="col-sm-8">
                                            <select class="chosen-select chosen-transparent form-control" name="goverment_fee_way" >
                                                <option value="">--请选择政府费缴费方式--</option>
                                                <option value="0">现金</option>
                                                <option value="1">支票</option>
                                                <option value="2">刷卡</option>
                                                <option value="3">转账</option>
                                                <option value="4">客户自行处理</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {else/}
                                <div class="row hidden">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">剩余政府费</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  name="goverment_fee" value="{$res.goverment_fee_remain}" id="goverment_fee" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row hidden">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">本次政府费缴费金额</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control"  name="goverment_fee_amount" id="goverment_fee_amount" />
                                            <i class="fa fa-exclamation-circle" style="color: red">如果缴费方式选择自行处理，此处请填写：{$res.goverment_fee}</i>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">政府费缴费日期</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  data-mask='9999-99-99' placeholder='9999-99-99' name="goverment_fee_date" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">政府费缴费方式</label>
                                        <div class="col-sm-8">
                                            <select class="chosen-select chosen-transparent form-control" name="goverment_fee_way" >
                                                <option value="">--请选择政府费缴费方式--</option>
                                                <option value="0">现金</option>
                                                <option value="1">支票</option>
                                                <option value="2">刷卡</option>
                                                <option value="3">转账</option>
                                                <option value="4">客户自行处理</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {/if}

                                <!--邮寄费输入-->
                                {if condition="$res.post_fee_remain neq 0"}
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">剩余邮寄费</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  name="post_fee" value="{$res.post_fee_remain}" id="post_fee" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">本次邮寄费缴费金额</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control"  name="post_fee_amount" id="post_fee_amount" />
                                            <i class="fa fa-exclamation-circle" style="color: red">如果缴费方式选择自行处理，此处请填写：{$res.post_fee}</i>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">邮寄费缴费日期</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  data-mask='9999-99-99' placeholder='9999-99-99' name="post_fee_date" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">邮寄费缴费方式</label>
                                        <div class="col-sm-8">
                                            <select class="chosen-select chosen-transparent form-control" name="post_fee_way" >
                                                <option value="">--请选择邮寄费缴费方式--</option>
                                                <option value="0">现金</option>
                                                <option value="1">支票</option>
                                                <option value="2">刷卡</option>
                                                <option value="3">转账</option>
                                                <option value="4">客户自行处理</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {else/}
                                <div class="row hidden">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">剩余邮寄费</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  name="post_fee" value="{$res.post_fee_remain}" id="post_fee" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row hidden">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">本次邮寄费缴费金额</label>
                                        <div class="col-sm-8">
                                            <input type="number" class="form-control"  name="post_fee_amount" id="post_fee_amount" />
                                            <i class="fa fa-exclamation-circle" style="color: red">如果缴费方式选择自行处理，此处请填写：{$res.post_fee}</i>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">邮寄费缴费日期</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  data-mask='9999-99-99' placeholder='9999-99-99' name="post_fee_date" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">邮寄费缴费方式</label>
                                        <div class="col-sm-8">
                                            <select class="chosen-select chosen-transparent form-control" name="post_fee_way" >
                                                <option value="">--请选择邮寄费缴费方式--</option>
                                                <option value="0">现金</option>
                                                <option value="1">支票</option>
                                                <option value="2">刷卡</option>
                                                <option value="3">转账</option>
                                                <option value="4">客户自行处理</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                {/if}


                                <div class="row">
                                    <div class="form-group col-md-4"></div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            {if condition="$res.fee_total_remain neq 0"}
                                            <button type="submit" class="btn btn-success">添加</button>
                                            {else/}
                                            <a href="javascript:history.go(-1);"><button type="button" class="btn btn-success">返回</button></a>
                                            {/if}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4"></div>
                                </div>

                            </div>
                        </div>
                    </form>
                    <!-- /tile body -->
                </section>
                <!-- /tile -->
            </div>
            <!-- /col 12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /content container -->
</div>
<!-- Page content end -->
</div>
<!-- Make page fluid-->




</div>
<!-- Wrap all page content end -->
{include file="common/js" /}

<script>
    $(".chosen-select").chosen({disable_search_threshold: 1});

    $fee_total_remain = $('#fee_total_remain').val();
    if($fee_total_remain == 0){
        $id = $('#business_id').val();
        $.ajax({
            type:"post",
            url:"{:url('pay/checkRemainBalance')}",
            data:'id='+$id,
            dataType:"json",
            success:function(data){}
        });
    }


</script>
</body>
</html>

