{include file="common/css" /}
{include file="common/top" /}
{include file="common/left" /}






<!-- Page content -->
<div id="content" class="col-md-12">
    <!-- page header -->
    <div class="pageheader">
        <h2><i class="fa fa-thumb-tack" style="line-height: 48px;padding-left: 1px;"></i> 修改进度</h2>
    </div>
    <!-- /page header -->


    <!-- content main container -->
    <div class="main">
        <!-- row -->
        <div class="row">
            <!-- col 12 -->
            <div class="col-md-12">
                <!-- tile -->
                <section class="tile color transparent-white">
                    <!-- tile header -->
                    <div class="tile-header">
                        <h1><strong>修改</strong></h1>
                    </div>
                    <!-- /tile header -->

                    <!-- tile body -->
                    <form method="post" action="{:url('progress/edit')}">
                        <input type="text" class="form-control hidden" name="id" placeholder="被修改的业务的id" value="{$res.id}">
                        <div class="tile-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">业务类型</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="subservice_name" value="{$res.subservice_name}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">进度</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="name" placeholder="填写业务类型" value="{$res.name}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">排序</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="sort" value="{$res.sort}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <button type="submit" class="btn btn-success">修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- /tile body -->
                </section>
                <!-- /tile -->
            </div>
            <!-- /col 12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /content container -->
</div>
<!-- Page content end -->
</div>
<!-- Make page fluid-->




</div>
<!-- Wrap all page content end -->
{include file="common/js" /}
</body>
</html>

