<!--显示情况取决于根据客人id能否在business里面找到对应的业务,找得到则显示,null则不显示-->

<!-- tile body -->
{empty name="business_res"}
<div class="tile-header">
    <h1><strong>业务未添加</strong> </h1>
</div>
<div class="tile-body color transparent-black rounded-corners hidden">
    {else/}
    <div class="tile-body color transparent-black rounded-corners">
        {/empty}
    <div class="table-responsive">
        <table  class="table table-datatable table-custom" id="basicDataTable">
            <thead>
                <tr>
                    <!--<th class="text-center">头像</th>-->
                    <th class="text-center">业务事项</th>
                    <th class="text-center">业务状态</th>
                    <th class="text-center">递交 / 预约时间</th>
                    <th class="text-center">费用</th>
                    <th class="text-center">业务所属</th>
                    {if condition="$Request.session.sort <= 2"}
                    <th class="text-center">导单/跟进人</th>
                    {else/}
                    <th class="text-center">负责人</th>
                    {/if}
                    <th class="text-center">文案</th>

                    <th class="text-center">修改人</th>
                    <th class="text-center">修改时间</th>
                    <th class="text-center">结案时间</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {foreach name="business_res" id="v"}
                <tr>
                    <td class="text-center"><a href="{:url('business/edit',array('id'=>$v.id))}">{$v.subservice_name}</a></td>

                    {if condition="($v.subservice_name eq '学签和小签') || ($v.subservice_name eq '身份恢复和小签') || ($v.subservice_name eq '毕业工签和小签')"}
                        <td class="text-center">
                            签证：{$v.progress}
                            {if condition="$v.progress == '收集材料'"}
                            <span class="label label-danger">not in progress</span>
                            {elseif condition="$v.progress == '申请递交'"}
                            &nbsp;&nbsp;<span class="label label-success">in progress</span>
                            {else/}
                            &nbsp;&nbsp;<span class="label label-cyan">done</span>
                            {/if}
                            <br/><br/>
                            小签：{$v.extra_progress}
                            {if condition="$v.extra_progress == '收集材料'"}
                            <span class="label label-danger"> not in progress</span>
                            {elseif condition="$v.extra_progress == '申请递交'"}
                            &nbsp;&nbsp;<span class="label label-success"> in progress</span>
                            {else/}
                            &nbsp;&nbsp;<span class="label label-cyan"> done</span>
                            {/if}
                        </td>
                    {elseif condition="($v.subservice_name eq 'college申请') || ($v.subservice_name eq '大学申请')"/}
                        {if condition="$v.progress eq '申请递交'"}
                        <td class="text-center">{$v.progress}&nbsp;&nbsp;{$v.submit_time_visa}&nbsp;&nbsp;<span class="label label-success">in progress</span></td>
                        {elseif condition="$v.progress eq '收集材料'"/}
                        <td class="text-center">{$v.progress}&nbsp;&nbsp;<span class="label label-danger">not in progress</span></td>
                        {elseif condition="($v.progress eq '申请获批') or ($v.progress eq '申请被拒')"/}
                        <td class="text-center">{$v.progress}&nbsp;&nbsp;<span class="label label-success">done</span></td>
                        {else/}
                        <td class="text-center">收集材料&nbsp;&nbsp;<span class="label label-danger">not in progress</span></td>
                        {/if}
                    {else/}
                        {if condition="$v.progress eq '申请递交'"}
                        <td class="text-center">{$v.progress}&nbsp;&nbsp;{$v.submit_time_visa}&nbsp;&nbsp;<span class="label label-success">in progress</span></td>
                        {elseif condition="$v.progress eq '收集材料'"/}
                        <td class="text-center">{$v.progress}&nbsp;&nbsp;<span class="label label-danger">not in progress</span></td>
                        {elseif condition="($v.progress eq '签证获批') or ($v.progress eq '签证被拒')"/}
                        <td class="text-center">{$v.progress}&nbsp;&nbsp;<span class="label label-success">done</span></td>
                        {else/}
                        <td class="text-center">{$v.progress}&nbsp;&nbsp;<span class="label label-success">in progress</span></td>
                        {/if}
                    {/if}

                    <td class="text-center">{$v.submit_time_visa}</td>

                    {if condition="$v.amount neq null"}
                    <td class="text-center">$ {$v.amount}</td>
                    {else/}
                    <td class="text-center">$ {$v.service_fee}</td>
                    {/if}

                    <td class="text-center">{$v.user}</td>

                    {if condition="$Request.session.sort <=2"}
                        {if condition="$v.is_export neq 0 and $v.export_to neq null"}
                        <td class="text-center">{$v.export_to}</td>
                        {elseif condition="$v.is_export eq 0 || $v.export_to eq null"/}
                        <td class="text-center"><span class="label label-red">off</span></td>
                        {else/}
                        <td class="text-center"><span class="label label-success">on</span><span class="label label-danger">未设置跟进人</span></td>
                        {/if}
                    {else/}
                        {if condition="$v.is_export neq 0 and $v.export_to neq null"}
                        <td class="text-center">{$v.export_to}</td>
                        {else/}
                        <td class="text-center">{$v.user}</td>
                        {/if}
                    {/if}


                    {if condition="$v.wenan eq null"}
                    <td class="text-center"><span class="label label-red">尚未设置，请告知前台</span></td>
                    {else/}
                    <td class="text-center">{$v.wenan}</td>
                    {/if}

                    <td class="text-center">{$v.edit_name}</td>

                    {empty name="$v.update_time"}
                    <td class="text-center">{$v.create_time|date="Y-m-d",###}</td>
                    {else/}
                    <td class="text-center">{$v.update_time}</td>
                    {/empty}


                    {empty name="$v.case_close_time"}
                    <td class="text-center">TBD</td>
                    {else/}
                    <td class="text-center">{$v.case_close_time|date="Y-m-d",###}</td>
                    {/empty}




                    <td class="text-center">
                        {if condition="$Request.session.name neq $v.user"}
                        <a class="btn btn-danger" href="#"><span class="fa fa-">已付全款</span></a>
                        {else/}
                            {if condition="$v.is_payoff eq 1"}
                            <a class="label label-success" href="#"><span class="fa fa-check">已付全款</span></a>
                            {else/}
                            <a class="btn btn-danger" href="{:url('business/delete',array('id'=>$v.id))}">删除</a>
                            {/if}
                        {/if}
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>
<!-- /tile body -->



