<!-- 前台修改客户状态 -->
{include file="common/css" /}
{include file="common/top" /}
{include file="common/left" /}






<!-- Page content -->
<div id="content" class="col-md-12">
    <!-- page header -->
    <div class="pageheader">
        <h2><i class="fa fa-thumb-tack" style="line-height: 48px;padding-left: 1px;"></i> 客户收款状态及分单更改</h2>
    </div>
    <!-- /page header -->


    <!-- content main container -->
    <div class="main">
        <!-- row -->
        <div class="row">
            <!-- col 12 -->
            <div class="col-md-12">
                <!-- tile -->
                <section class="tile color transparent-white">
                    <!-- tile header -->
                    <div class="tile-header">
                        <h1><strong>修改</strong></h1>
                    </div>
                    <!-- /tile header -->

                    <!-- tile body -->
                    <form method="post" action="{:url('business/change_status')}">
                        <input type="text" class="form-control hidden" name="id" placeholder="要修改的business的id" value="{$res.id}">
                        <input type="text" class="form-control hidden" name="referee" placeholder="分流人的名字" value="{$Request.session.name}">
                        <input type="text" class="form-control hidden" name="edit_name" placeholder="修改人的名字" value="{$Request.session.name}">
                        <div class="tile-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">业务</label>
                                        <div class="col-sm-8">
                                            <select class="chosen-select chosen-transparent form-control" name="subservice_name" id="subservice">
                                                {volist name="sub_service" id="v"}
                                                {if condition="$v.name eq $res.subservice_name"}
                                                <option selected value="{$v.name}">{$v.name}</option>
                                                {/if}
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">首次缴费金额</label>
                                        <div class="col-sm-8">
                                            <input class='form-control' type='text' value="{$res.amount}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">首次缴费日期</label>
                                        <div class="col-sm-8">
                                            <input class='form-control' type='text' value="{$res.amount_date}" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tile-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">服务费</label>
                                        <div class="col-sm-8" id="fees">
                                            <input class='form-control' type='text' name="service_fee" value="{$res.service_fee}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">邮寄费</label>
                                        <div class="col-sm-8" id="post_fee">
                                            <input class='form-control' type='text' name="post_fee" value="{$res.post_fee}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">政府费</label>
                                        <div class="col-sm-8" id="goverment_fee">
                                            <input class='form-control' type='text' name="goverment_fee" value="{$res.goverment_fee}" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tile-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">缴费金额详情</label>
                                        <div class="col-sm-8">
                                            <input class='form-control' type='text' value="{$res.amount_detail}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">特殊情况备注</label>
                                        <div class="col-sm-8">
                                            <input class='form-control' type='text' value="{$res.special_detail}" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tile-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">选择文案</label>
                                        <div class="col-sm-8">
                                            <select class="chosen-select chosen-transparent form-control" name="wenan">
                                                <option value=""> --请选择对接文案-- </option>
                                                <option value="张翊人"> 张翊人 </option>
                                                <option value="Tina 张"> Tina 张 </option>
                                                <option value="宋海培"> 宋海培 </option>
                                                <option value="欧阳俊杰"> 欧阳俊杰 </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">修改付款状态</label>
                                        <div class="col-sm-8">
                                            <select class="chosen-select chosen-transparent form-control" name="is_payoff">
                                                <option value=""> --请选择客户付款状态-- </option>
                                                {if condition="$res.is_payoff eq 1"}
                                                <option selected value="1"> 费用已缴清 </option>
                                                <option  value="0"> 费用尚有拖欠</option>
                                                {else/}
                                                <option  value="1"> 费用已缴清 </option>
                                                <option  value="0"> 费用尚有拖欠</option>
                                                {/if}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <button type="submit" class="btn btn-success">修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tile-body hidden">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label" >备忘设置</label>
                                        <ul class="inline">
                                            <li >
                                                <div class="onoffswitch labeled green">
                                                    {if condition="$res.is_remind eq 1"}
                                                    <input type="checkbox" name="is_remind" class="onoffswitch-checkbox" id="myonoffswitch2" checked value="1">
                                                    {else/}
                                                    <input type="checkbox" name="is_remind" class="onoffswitch-checkbox" id="myonoffswitch2">
                                                    {/if}
                                                    <label class="onoffswitch-label" for="myonoffswitch2">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    {if condition="$res.is_remind eq 1"}
                                    <div class="form-group col-md-4" id="remind">
                                        <label class="col-sm-4 control-label" >提醒内容</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  name="remind" value="{$res.remind}">
                                        </div>
                                    </div>
                                    {else/}
                                    <div class="form-group col-md-4 hidden" id="remind">
                                        <label class="col-sm-4 control-label" >提醒内容</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control"  name="remind" value="{$res.remind}">
                                        </div>
                                    </div>
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- /tile body -->
                </section>
                <!-- /tile -->
            </div>
            <!-- /col 12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /content container -->
</div>
<!-- Page content end -->
</div>
<!-- Make page fluid-->




</div>
<!-- Wrap all page content end -->
{include file="common/js" /}

<script>
    $(".chosen-select").chosen({disable_search_threshold: 1});

    $subservice = $('#subservice').val();
    if($subservice == '学签和小签' || $subservice == '身份恢复和小签' || $subservice == '毕业工签和小签'){
        $.ajax({
            type:"post",
            url:"{:url('business/getProgress')}",
            data:'subservice='+$subservice,
            dataType:"json",
            success:function(data){
                $('#progress').html(data);
                $('#extra_progress').html(data);
            }
        });

        $.ajax({
            type:"post",
            url:"{:url('business/getFees')}",
            data:'subservice='+$subservice,
            dataType:"json",
            success:function(data){
                $('#fees').html(data[0]);
                $('#post_fee').html(data[1]);
                $('#goverment_fee').html(data[2]);
            }
        });
        $('#progress2').removeClass('hidden');
    }



    //my script
    $('#myonoffswitch1').click(function(){

        a = $(this).prop('checked');
        if(a){
            $('#export').removeClass('hidden');
        }else{
            $('#export').addClass('hidden');
        }
    });
    $('#myonoffswitch2').click(function(){

        b = $(this).prop('checked');
        if(b){
            $('#remind').removeClass('hidden');
        }else{
            $('#remind').addClass('hidden');
        }
    });


    //当页面加载完成后执行的函数。
    $(function($){
        $subservice = $('#subservice').find("option:selected").val();
        $business_id = $('form > input').val();
        $.ajax({
            type:"post",
            url:"{:url('business/getProgress')}",
            data:'subservice='+$subservice,
            dataType:"json",
            success:function(data){
                $('#progress').html(data);
            }
        });
    });

</script>
</body>
</html>

