{include file="common/css" /}
{include file="common/top" /}
{include file="common/left" /}






<!-- Page content -->
<div id="content" class="col-md-12">
    <!-- page header -->
    <div class="pageheader">
        <h2><i class="fa fa-thumb-tack" style="line-height: 48px;padding-left: 1px;"></i> 业务信息修改</h2>
    </div>
    <!-- /page header -->


    <!-- content main container -->
    <div class="main">
        <!-- row -->
        <div class="row">
            <!-- col 12 -->
            <div class="col-md-12">
                <!-- tile -->
                <section class="tile color transparent-white">
                    <!-- tile header -->
                    <div class="tile-header">
                        <h1><strong>修改</strong></h1>
                    </div>
                    <!-- /tile header -->

                    <!-- tile body -->
                    <form method="post" action="{:url('business/edit')}">
                        <input type="text" class="form-control hidden" name="id" id="business_id" placeholder="要修改的business的id" value="{$res.id}">
                        <input type="text" class="form-control hidden" name="edit_name" placeholder="修改人的名字" value="{$Request.session.name}">
                        <div class="tile-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">当前业务</label>
                                        <div class="col-sm-8">
                                            <select class="chosen-select chosen-transparent form-control" name="subservice_name" id="subservice">
                                                {volist name="sub_service" id="v"}
                                                {if condition="$v.name eq $res.subservice_name"}
                                                <option selected value="{$v.name}">{$v.name}</option>
                                                {/if}
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">负责文案</label>
                                        <div class="col-sm-8">
                                            {if condition="$res.wenan eq null"}
                                            <input class='form-control' type='text' name="wenan" value="暂无" readonly/>
                                            {else/}
                                            <input class='form-control' type='text' name="wenan" value="{$res.wenan}" readonly/>
                                            {/if}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label" >负责销售</label>
                                        <div class="col-sm-8">
                                            <input class='form-control' type='text' value="{$res.user}" readonly/>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="tile-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">建档时间</label>
                                        <div class="col-sm-8">
                                            <input class='form-control' type='text' value="{$res.make_file_date|date='Y-m-d',###}" readonly/>
                                        </div>
                                    </div>
                                    {if condition='$res.case_close_time neq null'}
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">结案时间</label>
                                        <div class="col-sm-8">
                                            <input class='form-control' type='text' value="{$res.case_close_time|date='Y-m-d',###}" readonly/>
                                        </div>
                                    </div>
                                    {/if}

                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label" >特殊情况备注</label>
                                        <div class="col-sm-8">
                                            <input class='form-control' type='text' value="{$res.special_detail}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label" >缴费金额详情</label>
                                        <div class="col-sm-8">
                                            <input class='form-control' type='text' value="{$res.amount_detail}" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        {if condition="($Request.session.name == '张翊人') || ($Request.session.name == 'Tina 张') ||($Request.session.name == '宋海培') ||($Request.session.name == '欧阳俊杰') ||($Request.session.duty == '销售')"}
                        <div class="tile-body hidden">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label" >开启导单</label>
                                        <ul class="inline">
                                            <li >
                                                <div class="onoffswitch labeled green">
                                                    {if condition="$res.is_export eq 1"}
                                                    <input type="checkbox" name="is_export" class="onoffswitch-checkbox" id="myonoffswitch1" checked value="1">
                                                    {else/}
                                                    <input type="checkbox" name="is_export" class="onoffswitch-checkbox" id="myonoffswitch1">
                                                    {/if}
                                                    <label class="onoffswitch-label" for="myonoffswitch1">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    {if condition="$res.is_export eq 0"}
                                    <div class="form-group col-md-4 hidden" id="export">
                                        <label class="col-sm-4 control-label">负责员工</label>
                                        <div class="col-sm-8">
                                            <select class="chosen-select chosen-transparent form-control" name="export_to" >
                                                <option selected value="">---请选择---</option>
                                                {volist name="user_res" id="v"}
                                                <option value="{$v.name}">{$v.name}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    {else/}
                                    <div class="form-group col-md-4" id="export">
                                        <label class="col-sm-4 control-label">负责员工</label>
                                        <div class="col-sm-8">
                                            <select class="chosen-select chosen-transparent form-control" name="export_to" >
                                                <option selected value="">--- 选择执行人 ---</option>
                                                {volist name="user_res" id="v"}
                                                {if condition="$v.name eq $res.export_to"}
                                                <option selected value="{$v.name}">{$v.name}</option>
                                                {else/}
                                                <option value="{$v.name}">{$v.name}</option>
                                                {/if}
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    {/if}
                                </div>
                            </div>
                        </div>
                        {else/}
                        <div class="tile-body">
                            <div class="form-horizontal">
                                <div class="row">
                                <div class="form-group col-md-4">
                                <label class="col-sm-4 control-label" >开启导单</label>
                                <ul class="inline">
                                <li >
                                <div class="onoffswitch labeled green">
                                {if condition="$res.is_export eq 1"}
                                <input type="checkbox" name="is_export" class="onoffswitch-checkbox" id="myonoffswitch1" checked value="1">
                                {else/}
                                <input type="checkbox" name="is_export" class="onoffswitch-checkbox" id="myonoffswitch1">
                                {/if}
                                <label class="onoffswitch-label" for="myonoffswitch1">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                                </label>
                                </div>
                                </li>
                                </ul>
                                </div>
                                {if condition="$res.is_export eq 0"}
                                <div class="form-group col-md-4 hidden" id="export">
                                <label class="col-sm-4 control-label">负责员工</label>
                                <div class="col-sm-8">
                                <select class="chosen-select chosen-transparent form-control" name="export_to" >
                                <option selected value="0">---请选择---</option>
                                {volist name="user_res" id="v"}
                                <option value="{$v.name}">{$v.name}</option>
                                {/volist}
                                </select>
                                </div>
                                </div>
                                {else/}
                                <div class="form-group col-md-4" id="export">
                                <label class="col-sm-4 control-label">负责员工</label>
                                <div class="col-sm-8">
                                <select class="chosen-select chosen-transparent form-control" name="export_to" >
                                <option selected value="0">--- 选择执行人 ---</option>
                                {volist name="user_res" id="v"}
                                {if condition="$v.name eq $res.export_to"}
                                <option selected value="{$v.name}">{$v.name}</option>
                                {else/}
                                <option value="{$v.name}">{$v.name}</option>
                                {/if}
                                {/volist}
                                </select>
                                </div>
                                </div>
                                {/if}
                                </div>
                            </div>
                        </div>
                        {/if}





                        <div class="tile-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    {if condition="$res.is_payoff eq 1 || $Request.session.duty eq '文案'"}
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">服务费</label>
                                        <div class="col-sm-8" id="fees">
                                            <input class='form-control' type='text' name="service_fee" value="{$res.service_fee}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">邮寄费</label>
                                        <div class="col-sm-8" id="post_fee">
                                            <input class='form-control' type='text' name="post_fee" value="{$res.post_fee}" readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">政府费</label>
                                        <div class="col-sm-8" id="goverment_fee">
                                            <input class='form-control' type='text' name="goverment_fee" value="{$res.goverment_fee}" readonly/>
                                        </div>
                                    </div>
                                    {else/}
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">服务费</label>
                                        <div class="col-sm-8" id="fees">
                                            <input class='form-control' type='text' name="service_fee" value="{$res.service_fee}" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">邮寄费</label>
                                        <div class="col-sm-8" id="post_fee">
                                            <input class='form-control' type='text' name="post_fee" value="{$res.post_fee}" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label">政府费</label>
                                        <div class="col-sm-8" id="goverment_fee">
                                            <input class='form-control' type='text' name="goverment_fee" value="{$res.goverment_fee}" readonly/>
                                        </div>
                                    </div>
                                    {/if}






                                    {if condition="$Request.session.duty != '销售'"}
                                    <div class="tile-body">
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label class="col-sm-4 control-label">外联负责人</label>
                                                    <div class="col-sm-8">
                                                        <input class='form-control' type='text' name="contact_with_schools" value="{$res.contact_with_schools}" readonly/>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="col-sm-4 control-label">业务进度</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="progress" id="progress">

                                                        </select>
                                                    </div>
                                                </div>
                                                {empty name="$res.submit_time_visa"}
                                                {else/}
                                                <div class="form-group col-md-4">
                                                    <label class="col-sm-4 control-label">业务递交日期</label>
                                                    <div class="col-sm-8">
                                                        <input class='form-control' type='text' value="{$res.submit_time_visa}" readonly/>
                                                    </div>
                                                </div>
                                                {/empty}
                                                <div class="form-group col-md-4 hidden" id="submit_time_visa">
                                                    <label class="col-sm-4 control-label" >预约/递交时间</label>
                                                    <div class="col-sm-8">
                                                        <input class='form-control' data-mask='9999-99-99' placeholder='9999-99-99' type='text' name="submit_time_visa" value="{$res.submit_time_visa}" id="visa_time"/>
                                                    </div>
                                                </div>
                                                {if condition="$res.subservice_name neq '美国旅游签证'"}
                                                <div class="form-group col-md-4 hidden" id="expire_time_visa">
                                                    <label class="col-sm-4 control-label" >签证获批至<span style="color: red;">(* 必填)</span></label>
                                                    <div class="col-sm-8">
                                                        <input class='form-control' data-mask='9999-99-99' placeholder='9999-99-99' type='text' name="expire_time_visa" id="visa_expire" value="{$res.expire_time_visa}"/>
                                                    </div>
                                                </div>
                                                {else/}
                                                <input class='form-control hidden' type='text' name="expire_time_visa" value=""/>
                                                {/if}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile-body">
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <div class="form-group col-md-4 hidden" id="progress2">
                                                    <label class="col-sm-4 control-label">小签进度</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="extra_progress" id="extra_progress">

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4 hidden" id="submit_time_passport">
                                                    <label class="col-sm-4 control-label" >小签递交时间</label>
                                                    <div class="col-sm-8">
                                                        <input class='form-control' data-mask='9999-99-99' placeholder='9999-99-99' type='text' name="submit_time_passport" value="{$res.submit_time_passport}" id="passport_time"/>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4 hidden" id="expire_time_passport">
                                                    <label class="col-sm-4 control-label" >小签证获批至<span style="color: red;">(* 必填)</span></label>
                                                    <div class="col-sm-8">
                                                        <input class='form-control' data-mask='9999-99-99' placeholder='9999-99-99' type='text' name="expire_time_passport" id="passport_expire" value="{$res.expire_time_passport}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {else/}
                                    <div class="tile-body hidden">
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label class="col-sm-4 control-label">业务进度</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="progress" id="progress">

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4 hidden" id="submit_time_visa">
                                                    <label class="col-sm-4 control-label" >预约/递交时间</label>
                                                    <div class="col-sm-8">
                                                        <input class='form-control' data-mask='9999-99-99' placeholder='9999-99-99' type='text' name="submit_time_visa" value="{$res.submit_time_visa}" id="visa_time"/>
                                                    </div>
                                                </div>
                                                {if condition="$res.subservice_name neq '美国旅游签证'"}
                                                <div class="form-group col-md-4 hidden" id="expire_time_visa">
                                                    <label class="col-sm-4 control-label" >签证获批至<span style="color: red;">(* 必填)</span></label>
                                                    <div class="col-sm-8">
                                                        <input class='form-control' data-mask='9999-99-99' placeholder='9999-99-99' type='text' name="expire_time_visa" id="visa_expire" value="{$res.expire_time_visa}"/>
                                                    </div>
                                                </div>
                                                {else/}
                                                <input class='form-control hidden' type='text' name="expire_time_visa" value=""/>
                                                {/if}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile-body hidden">
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <div class="form-group col-md-4 hidden" id="progress2">
                                                    <label class="col-sm-4 control-label">小签进度</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="extra_progress" id="extra_progress">

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4 hidden" id="submit_time_passport">
                                                    <label class="col-sm-4 control-label" >小签递交时间</label>
                                                    <div class="col-sm-8">
                                                        <input class='form-control' data-mask='9999-99-99' placeholder='9999-99-99' type='text' name="submit_time_passport" value="{$res.submit_time_passport}" id="passport_time"/>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4 hidden" id="expire_time_passport">
                                                    <label class="col-sm-4 control-label" >小签证获批至<span style="color: red;">(* 必填)</span></label>
                                                    <div class="col-sm-8">
                                                        <input class='form-control' data-mask='9999-99-99' placeholder='9999-99-99' type='text' name="expire_time_passport" id="passport_expire" value="{$res.expire_time_passport}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {/if}



                                    <div class="tile-body hidden">
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label class="col-sm-4 control-label" >备忘设置</label>
                                                    <ul class="inline">
                                                        <li >
                                                            <div class="onoffswitch labeled green">
                                                                {if condition="$res.is_remind eq 1"}
                                                                <input type="checkbox" name="is_remind" class="onoffswitch-checkbox" id="myonoffswitch2" checked value="1">
                                                                {else/}
                                                                <input type="checkbox" name="is_remind" class="onoffswitch-checkbox" id="myonoffswitch2">
                                                                {/if}
                                                                <label class="onoffswitch-label" for="myonoffswitch2">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                {if condition="$res.is_remind eq 1"}
                                                <div class="form-group col-md-4" id="remind">
                                                    <label class="col-sm-4 control-label" >提醒内容</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"  name="remind" value="{$res.remind}">
                                                    </div>
                                                </div>
                                                {else/}
                                                <div class="form-group col-md-4 hidden" id="remind">
                                                    <label class="col-sm-4 control-label" >提醒内容</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"  name="remind" value="{$res.remind}">
                                                    </div>
                                                </div>
                                                {/if}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <button type="submit" class="btn btn-success">修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- /tile body -->
                </section>
                <!-- /tile -->
            </div>
            <!-- /col 12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /content container -->
</div>
<!-- Page content end -->
</div>
<!-- Make page fluid-->




</div>
<!-- Wrap all page content end -->
{include file="common/js" /}

<script>
    $(".chosen-select").chosen({disable_search_threshold: 1});


    // 获取当前日期
    var date = new Date();
    // 获取当前月份
    var nowMonth = date.getMonth() + 1;
    // 获取当前是几号
    var strDate = date.getDate();
    // 添加分隔符“-”
    var seperator = "-";
    // 对月份进行处理，1-9月在前面添加一个“0”
    if (nowMonth >= 1 && nowMonth <= 9) {
        nowMonth = "0" + nowMonth;
    }
    // 对月份进行处理，1-9号在前面添加一个“0”
    if (strDate >= 0 && strDate <= 9) {
        strDate = "0" + strDate;
    }
    // 最后拼接字符串，得到一个格式为(yyyy-MM-dd)的日期
    var nowDate = date.getFullYear() + seperator + nowMonth + seperator + strDate;

    //当页面加载完成后执行的函数。
    $(function($){
        $subservice = $('#subservice').find("option:selected").val();
        $business_id = $('form > input').val();
        if($subservice == '学签和小签' || $subservice == '身份恢复和小签' || $subservice == '毕业工签和小签'){
            $.ajax({
                type:"post",
                url:"{:url('business/get_Multi_Progress')}",
                data:{'subservice':$subservice,'business_id':$business_id},
                dataType:"json",
                success:function(data){
                    if($subservice == '学签和小签' || $subservice == '身份恢复和小签' || $subservice == '毕业工签和小签'){
                        $('#progress').html(data[0]);
                        $('#extra_progress').html(data[1]);
                    }else{
                        $('#progress').html(data[0]);
                    }


                    if($('#progress').val() == '申请递交'){
                        $('#submit_time_visa').removeClass('hidden');
                        $('#visa_time').val(nowDate);
                    }
                    if($('#progress').val() == '签证获批'){
                        $('#expire_time_visa').removeClass('hidden');
                    }

                    if($('#extra_progress').val() == '申请递交'){
                        $('#submit_time_passport').removeClass('hidden');
                    }
                    if($('#extra_progress').val() == '签证获批'){
                        $('#expire_time_passport').removeClass('hidden');
                    }
                }
            });
            $('#progress2').removeClass('hidden');
        }else{
            $.ajax({
                type:"post",
                url:"{:url('business/getProgress')}",
                data:{'subservice':$subservice,'business_id':$business_id},
                dataType:"json",
                success:function(data){
                    $('#progress').html(data);

                    $('#progress').change(function () {
                        if($('#progress').val() =='申请递交'){
                            $('#submit_time_visa').removeClass('hidden');
                            $('#visa_time').val(nowDate);
                        }

                        if($('#progress').val() =='签证获批'){
                            $('#expire_time_visa').removeClass('hidden');
                        }
                    });
                }
            });
        }
    });



    //my script
    $('#myonoffswitch1').click(function(){

        a = $(this).prop('checked');
        if(a){
            $('#export').removeClass('hidden');
        }else{
            $('#export').addClass('hidden');
        }
    });
    $('#myonoffswitch2').click(function(){

        b = $(this).prop('checked');
        if(b){
            $('#remind').removeClass('hidden');
        }else{
            $('#remind').addClass('hidden');
        }
    });


    $('#progress').change(function () {
        var progress_val = $(this).val();
        if(progress_val == '申请递交'){
            $('#submit_time_visa').removeClass('hidden');
            $('#visa_time').val(nowDate);
        }else{
            $('#submit_time_visa').addClass('hidden');
            $('#visa_time').val('');
        }

        if(progress_val == '完成预约'){
            $('#submit_time_visa').removeClass('hidden');
            $('#visa_time').val(nowDate);
        }else{
            $('#submit_time_visa').addClass('hidden');
            $('#visa_time').val('');
        }


        if(progress_val == '签证获批'){
            $('#expire_time_visa').removeClass('hidden');
            $('#visa_expire').attr("required", "required");
        }else{
            $('#expire_time_visa').addClass('hidden');
            $('#visa_expire').removeAttr('required');
        }
    });
    $('#extra_progress').change(function () {
        var extra_progress_val = $(this).val();
        if(extra_progress_val == '申请递交'){
            $('#submit_time_passport').removeClass('hidden');
            $('#passport_time').val(nowDate);
        }else{
            $('#submit_time_passport').addClass('hidden');
            $('#passport_time').val('');
        }

        if(extra_progress_val == '签证获批'){
            $('#expire_time_passport').removeClass('hidden');
            $('#passport_expire').attr("required", "required");
        }else{
            $('#expire_time_passport').addClass('hidden');
            $('#passport_expire').removeAttr('required');
        }
    });
</script>
</body>
</html>

